.create-note{
    border-radius: var(--border-radius);
    flex-basis: 30rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--lynx-gray-color);
}

.create-note input, .create-note textarea{
    border: none;
    outline: none;
    padding: 0.8rem;
}

.create-note textarea{
    font-size: 1rem;
    border-radius: inherit;
    resize: none;
}

.note-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}

.note-tools div{
    display: flex;
    gap: 0.5rem;
}

.note-tools div:first-child{
    gap: 1.5rem;
}

.note-tools div:first-child .btn-icon{
    font-size: 1.3rem;
}

.note-tools .btn{
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.btn-pin{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.note-tools select{
    border: none;
    outline: none;
    cursor: pointer;
}
