.label-select{
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    position: absolute;
    bottom: -7.5rem;
    width: 8rem;
    height: 8rem;
    left: 4rem;
    border: 1px solid var(--lynx-gray-color);
    z-index: var(--z-index-2);
    overflow-y: auto;
}

div.label-select {
    gap: 0.2rem !important;
} 

.label-select ul{
    list-style: none;
    word-wrap: break-all;
}

.label-select label{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.label-select ul li label span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 9;
}

.label-select input[type="checkbox"]{
    width: 0.9rem;
    height: 0.9rem;
}