.label-select{
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    position: absolute;
    bottom: -6.5rem;
    width: 6rem;
    height: 7rem;
    left: 4rem;
    border: 1px solid var(--lynx-gray-color);
    z-index: var(--z-index-2);
    overflow-y: auto;
}

div.label-select {
    gap: 0.2rem !important;
} 

.label-select .fa-times{
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    cursor: pointer;
}

.label-select ul{
    list-style: none;
}

.label-select label{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.label-select input[type="checkbox"]{
    width: 0.9rem;
    height: 0.9rem;
}