/* vacay-ui css */
@import url("https://vacay-ui.netlify.app/components/vacay.css");


/* || general css */

html{
    color: var(--text-color);
}

button{
    background-color: transparent;
}

/* || sidebar */

.sidebar-container{
    display: grid;
    grid-template-columns: 15rem 1fr;
    min-height: 90vh;
}

/* error or empty page */

.container-error-page{
    text-align: center;
}

.container-error-page .btn{
    margin: 0.5rem auto;
    width: fit-content;
}

.container-error-page img{
    max-width: 20rem;
}

/* || media queries */

@media only screen and (max-width: 900px){
    .sidebar-container{
        grid-template-columns: 1fr;
    }
}